<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List items</title>
</head>
<body>
<h1>To Do List</h1>
    <table class="task list">
        <thead>Things to do:</thead>
            <tr>
                <th>Tasks</th>
                <th scope="col">Email Address</th>\
                <th scope="col">Priority Level</th>
            </tr>
        <tbody>
            <input type="checkbox" name="Completed">
            <tr>
                {% for task in to_do_list %}
                <th scope="row">{{ task }}</th>
                {% endfor %}

                {% for email in to_do_list %}
                <th scope="row">{{ email }}</th>
                {% endfor %}

                {% for priority in to_do_list %}
                <th scope="row">{{ priority }}</th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
        <form action="/add_task" method="post">
            <input type="text" name="task">
            <br>
            <input type="email" name="email">
            <br>
            <select name="priority">
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
            <br>
            <input type="submit" value="Add Info">
        </form>
</body>
</html>