<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List Items</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/submit" method="post">
      <label for="task">Task:</label><br />
      <input type="text" id="task" name="task" required /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br />
      <label for="priority">Priority:</label><br />
      <select id="priority" name="priority" required>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option></select
      ><br />
      <input type="submit" value="Submit" />
    </form>
    <form action="/clear" method="post">
        <button type="submit">Clear</button>
    </form>
    <form action="/save" method="post">
      <button type="submit">Save</button>
	</form>
    <table class="task list">
      <thead>
        <tr>
          <th>Tasks</th>
          <th scope="col">Email Address</th>
          <th scope="col">Priority Level</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
        <tr>
          <td>{{ task.task }}</td>
          <td>{{ task.email }}</td>
          <td>{{ task.priority }}</td>
          <td><form action="/delete/{{ loop.index0 }}" method="post">
            <button type="submit">Delete</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
